/**
 * Setup
 *
 * Setting up the grid and primary styles
 *
 **/

body {
  ff-body()
  font-size: $baseFont
}

h1, h2, h3 {
  ff-title();
  color: $primary;
  a {
    color: currentColor;
  }
}

a {
  color: $linkColor;
  &:hover {
    $linkHoverColor;
  }
}

p {
  line-height: $lineHeight
  margin-bottom: $lineHeight
}

.skip-link {
  position: absolute
  left: -100%;
  top: -100%;
}

.wrapper {
  padding: 2rem;

  > header {
    text-align: center
    padding: 1rem 0;
    h1 {
      font-size: 5rem
    }
  }

  > .navigation {
    text-align: center
    li {
      display: inline-block
      padding: 1rem;
    }
  }
}
.main-area {
  +above(m){
    col(3/4, cycle: 2);
  }
}

.secondary-area {
  +above(m) {
    col(1/4, cycle: 2);
  }
}

